
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-container {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
}

.weather {
    padding-left: 100px;
    padding-top: 70px;
    text-align: left;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

.weather-icon {
    width: 80px;
    height: 80px;
}

.weather-details {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    margin-left: 50px;
}

.info {
    font-size: 30px;
}

.temp {
    font-size: 40px;
}

#day, #date, #time {
    font-size: 25px;
}
